.consistent {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgba(166, 235, 199, 0.79);
    display: block;
}

img {
    float: right;
    display: block;
}

.bullets {
    list-style-type: none;
}