.consistent {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4%;
    background-color: rgb(45, 48, 45);
    color: white;
}

.consistent .header {
    margin: 0;
}

.header {
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=cdb60ccb99&attid=0.1.1&permmsgid=msg-f:1779667685966660773&th=18b2a654d048c4a5&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ9YQcIIJwEgYiURZL6M6bC0Rqk3aXVzcatXQFBgm1eQSyFh9ZtkKeB0p8h731reI82xYB1GMh3BSXr_x5Sr6f7pxaGZOZb4UjG9F06FPjcRZYQ8rSQGoHYATCc&disp=emb");
    /* I tried adding the background image by copying the relative path of the file in my img folder, but could not get the image to appear. */
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(56, 56, 70);
    font-size: 40px;
    display: flex;
    border: 1px solid rgb(47, 61, 47);
    padding-left: 5%;
    border-radius: 10px;
    margin: 0;
    height: 400px;
}

.header h2 {
    font-size: 30px;
    float: right;
    padding-right: 5%;
}

.text {
    flex: 1;
}

.bullets {
    list-style-type: none;
}

.projects-list {
    float: left;
    width: 30%;
    display: block;
    padding: 2%;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 2%;
}

.about-me {
    float: right;
    width: 50%;
    padding: 2%;
    border: 2px solid grey;
    border-radius: 10px;
}

.about-me h2 {
    text-align: center
}

.about-me img {
    width: 50%;
    height: auto;
    float: right;
    border-radius: 10px;
    padding: 5%;
    box-sizing: border-box;
}

.ab-blurb {
    display: flex;
}

.indent {
    text-indent: 10px;
}

.am-lists {
    border-top: 2px solid grey;
}

.am-lists p {
    text-indent: 15px;
    font-size: small;
}

a {
    color: aqua;
}

.new-section {
    display: block;
    float: left;
    width: 40%;
    padding-top: 4%;
}

.new-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.list-format {
    padding: 2%;
}

.highlight {
    color: red;
}