.consistent {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    background-color: rgb(45, 48, 45);
    color: white;
}

.header {
    /* background-color: rgba(166, 235, 199, 0.79); */
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=cdb60ccb99&attid=0.1.1&permmsgid=msg-f:1779665406021469469&th=18b2a441f8f6051d&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-TFxmBkqgZ9mrL0M8I7IRseJD9v0tyWx_1CCtwqQZGaMLIjcyt6bDCob0zj445IIRAhLANWHjflj6WkPs-vp-KU_KbthrQUTdmyJWey0jcICdOQbdE19bQpaE&disp=emb");
    /* I tried adding the background image by copying the relative path of the file in my img folder, but could not get the image to appear. */
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(209, 234, 213);
    font-size: 40px;
    display: flex;
    border: 1px solid rgb(47, 61, 47);
    padding-left: 5%;
    border-radius: 10px;
    height: 400px;
}

.header h2 {
    font-size: 30px;
}

.text {
    flex: 1;
}

.header img {
    max-width: 50%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* padding: 1%; */
}


.bullets {
    list-style-type: none;
}

.projects-list {
    float: left;
    width: 25%;
    display: block;
    padding: 2%;
    border: 2px solid grey;
    border-radius: 10px;
}

.about-me {
    float: right;
    width: 65%;
    /* text-align: center */
    padding: 2%;
    border: 2px solid grey;
    border-radius: 10px;
}

.about-me img {
    width: 300px;
    height: auto;
    float: right;
    padding-bottom: 4%;
    padding-left: 2%;
}

.ab-blurb {
    display: flex;
}

.subtle {
    color: rgb(99, 98, 98);
}

.indent {
    text-indent: 10px;
}

.am-lists {
    border-top: 2px solid grey;
}

a {
    color: aqua;
}